[workspace]
resolver = "2"
members = ["cli", "core", "runtime", "tests"]

[workspace.package]
authors = ["the Andromeda team"]
edition = "2024"
license = "Mozilla Public License 2.0"
repository = "https://github.com/tryandromeda/andromeda"
version = "0.1.0-draft25"

[workspace.dependencies]
andromeda-core = { path = "core" }
andromeda-runtime = { path = "runtime", features = ["canvas", "crypto", "storage"] }
anyhow = "1.0.99"
anymap = "0.12.1"
async-trait = "0.1.89"
base64-simd = "0.8.0"
chrono = { version = "0.4.41", features = ["serde"] }
clap = { version = "4.5.45", features = ["derive"] }
clap_complete = "4.5.57"
console = "0.16.0"
dprint-core = "0.67.4"
dprint-plugin-typescript = "0.95.11"
dprint-plugin-json = "0.20.0"
env_logger = "0.11.5"
futures = "0.3.31"
indexmap = "2.11.0"
image = "0.25.6"
lazy_static = "1.5.0"
libsui = "0.10.0"
log = "0.4.27"
lsp-types = "0.97.0"
nova_vm = { git = "https://github.com/trynova/nova", rev = "73a35f81b30c95fcca269644529fdb5d4165421c", features = [
    "typescript"
] }
nu-ansi-term = "0.50.1"
owo-colors = "4.2.2"
oxc_codegen = "0.82.3"
oxc_ast = "0.82.3"
oxc_minifier = "0.82.3"
oxc_mangler = "0.82.3"
oxc_allocator = "0.82.3"
oxc_diagnostics = "0.82.3"
oxc-miette = { version = "2.4.0", features = ["fancy"] }
oxc_parser = "0.82.3"
oxc_semantic = "0.82.3"
oxc_span = "0.82.3"
oxc_transformer = "0.82.3"
rand = "0.9.2"
reedline = "0.41.0"
regex = "1.11.2"
rustls = "0.23.31"
rustls-pemfile = "2.2.0"
rustls-pki-types = "1.12.0"
ring = "0.17.14"
rusqlite = { version = "0.37.0", features = ["bundled", "functions", "load_extension"] }
saffron = "0.1.0"
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.143"
serde_yaml = "0.9.34-deprecated"
toml = "0.9.5"
signal-hook = "0.3.18"
thiserror = "2.0.16"
tempfile = "3.21.0"
tokio = { version = "1.47.1", features = ["rt", "sync", "time", "fs"] }
tokio-rustls = "0.26.2"
tokio-test = "0.4.4"
tower-lsp = "0.20.0"
ureq = { version = "3.1.0", features = ["json"] }
url = { version = "2.5.7", features = ["serde", "expose_internals"] }
uuid = { version = "1.18.0", features = ["v4"] }
webpki-roots = "1.0.2"
wgpu = { version = "26.0.1", features = ["wgsl", "webgpu"] }

[profile.release]
lto = true
