[workspace]
resolver = "2"
members = ["cli", "core", "runtime"]

[workspace.package]
authors = ["the Andromeda team"]
edition = "2024"
license = "Mozilla Public License 2.0"
repository = "https://github.com/tryandromeda/andromeda"
version = "0.1.0-draft10"

[workspace.dependencies]
andromeda-core = { path = "core" }
andromeda-runtime = { path = "runtime", features = ["canvas", "crypto", "storage"] }
anyhow = "1.0.98"
anymap = "0.12.1"
base64-simd = "0.8.0"
clap = { version = "4.5.42", features = ["derive"] }
clap_complete = "4.5.55"
console = "0.16.0"
dprint-core = "0.67.4"
dprint-plugin-typescript = "0.95.9"
dprint-plugin-json = "0.20.0"
env_logger = "0.11.5"
futures = "0.3.31"
indexmap = "2.10.0"
image = "0.25.6"
lazy_static = "1.5.0"
libsui = "0.10.0"
log = "0.4.22"
lsp-types = "0.97.0"
nova_vm = { git = "https://github.com/trynova/nova", rev = "a957ec141816824e7cbec07264dc98c8d948d5f2", features = [
    "typescript"
] }
nu-ansi-term = "0.50.1"
oxc_codegen = "0.80.0"
owo-colors = "4.2.2"
oxc_ast = "0.80.0"
oxc_minifier = "0.80.0"
oxc_mangler = "0.80.0"
oxc_allocator = "0.80.0"
oxc_diagnostics = "0.80.0"
oxc-miette = { version = "2.4.0", features = ["fancy"] }
oxc_parser = "0.80.0"
oxc_semantic = "0.80.0"
oxc_span = "0.80.0"
oxc_transformer = "0.80.0"
rand = "0.9.2"
reedline = "0.41.0"
regex = "1.11.1"
ring = "0.17.14"
rusqlite = { version = "0.37.0", features = ["bundled"] }
serde = { version = "1.0.219", features = ["derive"] }
serde_json = "1.0.142"
serde_yaml = "0.9.34-deprecated"
toml = "0.9.5"
signal-hook = "0.3.18"
thiserror = "2.0.12"
tempfile = "3.13.0"
tokio = { version = "1.47.1", features = ["rt", "sync", "time", "fs"] }
tokio-test = "0.4.4"
tower-lsp = "0.20.0"
ureq = { version = "3.0.12", features = ["json"] }
url = { version = "2.5.4", features = ["serde", "expose_internals"] }
uuid = { version = "1.17.0", features = ["v4"] }
wgpu = { version = "26.0.1", features = ["wgsl", "webgpu"] }

[profile.release]
lto = true
