[workspace]
resolver = "2"
members = ["cli", "core", "runtime"]

[workspace.package]
authors = ["the Andromeda team"]
edition = "2024"
license = "Mozilla Public License 2.0"
repository = "https://github.com/tryandromeda/andromeda"
version = "0.1.0"


[workspace.dependencies]
andromeda-core = { path = "core" }
andromeda-runtime = { path = "runtime" }
anyhow = "1.0.94"
anymap = "0.12.1"
clap = { version = "4.5.23", features = ["derive"] }
cliclack = "0.3.5"
console = "0.15.8"
nova_vm = { git = "https://github.com/trynova/nova", branch = "main", features = ["typescript"] }
oxc_ast = "0.51.0"
oxc_diagnostics = "0.51.0"
oxc-miette = { version = "1.0.2", features = ["fancy"] }
oxc_parser = "0.51.0"
oxc_semantic = "0.51.0"
oxc_span = "0.51.0"
serde = { version = "1.0.130", features = ["derive"] }
tokio = { version = "1.39.0", features = ["rt", "sync", "time"]}
url = { version = "2", features = ["serde", "expose_internals"] }

[profile.release]
lto = true